{
    "degree": 20,
    "num_advice": 19,
    "num_lookup_advice": 1,
    "num_fixed": 1,
    "lookup_bits": 18,
    "bodyhash_regex_filepath": "./configs/regex_bodyhash.txt",
    "bodyhash_substr_filepath": "./configs/substr_bodyhash.txt",
    "header_regex_filepathes": [
        "./configs/regex_from.txt",
        "./configs/regex_to.txt",
        "./configs/regex_subject.txt"
    ],
    "header_substr_filepathes": [
        "./configs/substr_from.txt",
        "./configs/substr_to.txt",
        "./configs/substr_subject.txt"
    ],
    "body_regex_filepathes": [
        "./configs/regex_body_id2.txt",
        "./configs/regex_body_id2.txt",
        "./configs/regex_body_id2.txt"
    ],
    "body_substr_filepathes": [
        "./configs/substr_body_id2_1.txt",
        "./configs/substr_body_id2_2.txt",
        "./configs/substr_body_id2_3.txt"
    ],
    "num_sha2_compression_per_column": 1,
    "header_max_byte_size": 512,
    "body_max_byte_size": 512,
    "public_key_bits": 2048,
    "header_substr_regexes": [
        [
            "(?<=from:).*@.*(?=\r)"        
        ],
        [
            "(?<=to:).*@.*(?=\r)"
        ],
        [
            "(?<=subject:).*(?=\r)"
        ]
    ],
    "body_substr_regexes": [
        [
            "(?<=Swap )([0-9]|\\.)+ (ETH|DAI)(?= )",
            "([0-9]|\\.)+"
        ],
        [
            "(?<= )(ETH|DAI)(?= to)"
        ],
        [
            "(?<=to )(ETH|DAI)(?= via)"
        ]
    ]
}